body {
  background-color:black;
  color: white;
  height: 97vh;
  animation: neonYellow 2s ease-in-out infinite alternate;
}

@keyframes neonYellow {
  from {
box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, 0 0 30px #fff, inset 0 0 40px #ffdd1b,
inset 0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
  }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, 0 0 15px #fff, inset 0 0 20px #ffdd1b,
    inset 0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
  }
}

li {
  list-style-type: none;
}

#user-interface {
  background-image: url(../bgQuiz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 70vh;
  transform: none;
  top:15%;
  left:15%;
  animation: neon 2s ease-in-out infinite alternate;
}
input {
  background-color: rgba(255,255,255,0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid white;
  color: #F2F2F2;
  position: absolute;
  top: 20%;
  left: 70%;
  font-size: larger;
  font-weight: bold;
}
.welcome-message {
  position: absolute;
  top: -18%;
  left: 35%;
}
.start-quiz {
  top: 45%;
  left: 48%;
}

.teams-name {
  position: absolute;
  left: 35%;
  margin-top: 5px;
}

#quiz-container {
  position: fixed;
  top: 25%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

.quiz-status {
  display: flex;
  justify-content: space-evenly;
}
@keyframes neon {
  from {
    box-shadow: inset 0 0 6px #fff, inset 0 0 12px #fff, 0 0 18px #fff, inset 0 0 40px #228dff,
inset 0 0 50px #228dff, 0 0 60px #228dff, 0 0 80px #228dff, 0 0 130px #228dff;
  }
  to {
    box-shadow: inset 0 0 3px #fff, inset 0 0 6px #fff, 0 0 9px #fff, inset 0 0 20px #228dff,
inset 0 0 25px #228dff, 0 0 30px #228dff, 0 0 45px #228dff, 0 0 65px #228dff;
  }
}
.current-score {
  padding: .7em 1em;
  background-color: #1F51FF;
  border-radius: 50%;
  margin-left: 60px;
  color: white;
  font-weight: bolder;
  animation: neon 2s ease-in-out infinite alternate;
}
.current-timer {
  padding: .7em 1em;
  background-color: #1F51FF;
  border-radius: 50%;
  margin-left: 580px;
  color: white;
  animation: neon 2s ease-in-out infinite alternate;
} 

.inner-container {
  min-width: 800px;
  height: 400px;
  width: 100%;
  position: absolute;
  top: 80px;
  left: -50px;
}

.card {
  position: absolute;
  right: 8px;
  top: 8px;
  margin: 0 auto;
  width: 720px;
  border-radius: 5px;
  height: 320px;
  box-sizing: border-box;
  transition: .3s ease;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.35);
}
.card1 {
  border-radius: 5px 5px 0 0;
  padding: 0;
  box-shadow: none;
  background-color: rgba(0,0,0,0.75);
  animation: neonBlue 2s ease-in-out infinite alternate;
}
.card2,.card4,.card6,.card8,.card10 {
  background-color: #1F51FF;
}
.card3,.card5,.card7,.card9 {
  background-color: #FF10F0;
}

.card-content {
  position: absolute;
  top: 5%;
  opacity: 0;
  width: 100%;
  margin: 0 auto;
  color: white;
  visibility: hidden;
}
.active {
  display: block;
  margin: 0 auto;
  opacity: 1;
  visibility: visible;
}

@keyframes neonBlue {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, 0 0 30px #fff, inset 0 0 40px #228dff,
inset 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, 0 0 15px #fff, inset 0 0 20px #228dff,
inset 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

.active > .card-content {
  opacity: 1;
  transition: ease-in-out 1s;
}

.answers-list {
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap: 10px;
  align-items: center;
}
.answers-list li {
  margin: 10px 50px;
  padding: 5px;
  border: 2px solid #ff9100;
  border-radius: 50px;
}
.answers-list li:first-child {
  grid-column: 1;
  grid-row: 1;
}
.answers-list li:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.answers-list li:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}
.answers-list li:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.reference-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.current-reference {
  text-decoration: none;
  color: #ff9100;
  background-color: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: medium;
  font-weight: 900;
}

.correct-answer {
  animation: neonGreen 2s ease-in-out infinite alternate;
}
@keyframes neonGreen {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, 0 0 30px #fff, inset 0 0 40px #b6ff00,
    inset 0 0 30px #b6ff00, 0 0 40px #b6ff00, 0 0 60px #b6ff00, 0 0 110px #b6ff00;
  }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, 0 0 15px #fff, inset 0 0 20px #b6ff00,
    inset 0 0 15px #b6ff00, 0 0 20px #b6ff00, 0 0 30px #b6ff00, 0 0 55px #b6ff00;
  }
}

.wrong-answer {
  animation: neonRed 2s ease-in-out infinite alternate;
}
@keyframes neonRed {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, 0 0 30px #fff, inset 0 0 40px #ff1177,
    inset 0 0 30px #ff1177, 0 0 40px #ff1177, 0 0 60px #ff1177, 0 0 110px #ff1177
  }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, 0 0 15px #fff, inset 0 0 20px #ff1177,
    inset 0 0 15px #ff1177, 0 0 20px #ff1177, 0 0 30px #ff1177, 0 0 55px #ff1177;
  }
}

.progress-container {
  background-color: #FF10F0;
  height: 8px;
  position: relative;
  margin-top: 330px;
  left: 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
}
#step {
  background-color: #770a70;
  height: 8px;
  width: 0%;
  border-radius: 0 0 0 5px;
}

button {
  position: fixed;
  width: 120px;
  height: 120px;
  border: none;
  margin-left: 500px;
  margin-top: 180px;
  background-color: #FF10F0;
  color: white;
  font-size: large;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: transform .3s;
  animation: neonPink 2s ease-in-out infinite alternate;
}
@keyframes neonPink {
  from {
box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, 0 0 30px #fff, inset 0 0 40px #FF10F0,
inset 0 0 60px #FF10F0, 0 0 70px #FF10F0, 0 0 90px #FF10F0, 0 0 120px #FF10F0;
  }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, 0 0 15px #fff, inset 0 0 20px #FF10F0,
    inset 0 0 30px #FF10F0, 0 0 35px #FF10F0, 0 0 45px #FF10F0, 0 0 60px #FF10F0;
  }
}
button:hover {
  transform: scale(1.2);
  background-color: #b40fa9;
}

#result-container {
  width:90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: neonBlue 2s ease-in-out infinite alternate;
  color: white;
  padding: 10px;
}

.congrats-message {
  font-family: Monoton;
  font-size: 7rem;
  color: #ff00de;
}

.score-message {
  font-family: Iceland;
  font-size: 5rem;
  color: #228dff;
}

.total-score {
  font-size: 7rem;
  animation: neonRedText 2s ease-in-out infinite alternate;
}
@keyframes neonRedText {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}