@font-face {
  font-family: 'Beon Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Beon Medium'), url('fonts/beon-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Beon Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Beon Medium'), url('fonts/Beon.woff') format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Vampiro One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/vampiroone/v13/gokqH6DoDl5yXvJytFsdLnquuPl4og.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Vampiro One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/vampiroone/v13/gokqH6DoDl5yXvJytFsdLnqguPk.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Budmo Jiggler';
  font-style: normal;
  font-weight: normal;
  src: local('Budmo Jiggler'), url('fonts/budmo\ jiggler.woff') format('woff');
}
@font-face {
  font-family: 'Budmo Jigglish';
  font-style: normal;
  font-weight: normal;
  src: local('Budmo Jigglish'), url('fonts/budmo\ jigglish.woff') format('woff');
}
@font-face {
  font-family: 'Text Me One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/textmeone/v10/i7dOIFdlayuLUvgoFvHQFVZbYFc.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@keyframes neonBlue {
  from {
    box-shadow: inset 0 0 6px #ffffff7a, inset 0 0 12px #ffffff7a,
      0 0 18px #ffffff7a, inset 0 0 40px #228dff7a, inset 0 0 50px #228dff7a,
      0 0 60px #228dff7a, 0 0 80px #228dff7a, 0 0 130px #228dff7a;
  }
  to {
    box-shadow: inset 0 0 3px #ffffff7a, inset 0 0 6px #ffffff7a,
      0 0 9px #ffffff7a, inset 0 0 20px #228dff7a, inset 0 0 25px #228dff7a,
      0 0 30px #228dff7a, 0 0 45px #228dff7a, 0 0 65px #228dff7a;
  }
}
@keyframes neonYellow {
  from {
    box-shadow: inset 0 0 1px #ffffff7a, inset 0 0 2px #ffffff7a,
      0 0 3px #ffffff7a, inset 0 0 1px #ffdd1b86, inset 0 0 2px #ffdd1b86,
      0 0 3px #ffdd1b86, 0 0 4px #ffdd1b86;
  }
  to {
    box-shadow: inset 0 0 5px #ffffff7a, inset 0 0 10px #ffffff7a,
      0 0 15px #ffffff7a, inset 0 0 20px #ffdd1b86, inset 0 0 20px #ffdd1b86,
      0 0 30px #ffdd1b86, 0 0 0px #ffdd1b86;
  }
}
@keyframes neon-text {
  from {
    text-shadow: 0 0 10px #ffffff7a, 0 0 20px #ffffff7a, 0 0 30px #ffffff7a,
      0 0 40px #ff00dd7a, 0 0 70px #ff00dd7a, 0 0 80px #ff00dd7a,
      0 0 100px #ff00dd7a, 0 0 150px #ff00dd7a;
  }
  to {
    text-shadow: 0 0 5px #ffffff7a, 0 0 10px #ffffff7a, 0 0 15px #ffffff7a,
      0 0 20px #ff00dd7a, 0 0 35px #ff00dd7a, 0 0 40px #ff00dd7a,
      0 0 50px #ff00dd7a, 0 0 75px #ff00dd7a;
  }
}
@keyframes neonGreen {
  from {
    box-shadow: inset 0 0 10px #ffffff7a, inset 0 0 20px #ffffff7a, 0 0 30px #ffffff7a,
      inset 0 0 40px #00ff0086, inset 0 0 30px #00ff0086, 0 0 40px #00ff0086,
      0 0 60px #00ff0086, 0 0 110px #00ff0086;
  }
  to {
    box-shadow: inset 0 0 5px #ffffff7a, inset 0 0 10px #ffffff7a, 0 0 15px #ffffff7a,
      inset 0 0 20px #00ff0086, inset 0 0 15px #00ff0086, 0 0 20px #00ff0086,
      0 0 30px #00ff0086, 0 0 55px #00ff0086;
  }
}
@keyframes neonPink {
  from {
    box-shadow: inset 0 0 10px #ffffff7a, inset 0 0 20px #ffffff7a, 0 0 30px #ffffff7a,
      inset 0 0 40px #ff00dd7a, inset 0 0 60px #ff00dd7a, 0 0 70px #ff00dd7a,
      0 0 90px #ff00dd7a, 0 0 120px #ff00dd7a;
  }
  to {
    box-shadow: inset 0 0 5px #ffffff7a, inset 0 0 10px #ffffff7a, 0 0 15px #ffffff7a,
      inset 0 0 20px #ff00dd7a, inset 0 0 30px #ff00dd7a, 0 0 35px #ff00dd7a,
      0 0 45px #ff00dd7a, 0 0 60px #ff00dd7a;
  }
}
@keyframes neonRed {
  from {
    box-shadow: inset 0 0 10px #ffffff7a, inset 0 0 20px #ffffff7a, 0 0 30px #ffffff7a,
      inset 0 0 40px #ff114d88, inset 0 0 30px #ff114d88, 0 0 40px #ff114d88,
      0 0 60px #ff114d88, 0 0 110px #ff114d88;
  }
  to {
    box-shadow: inset 0 0 5px #ffffff7a, inset 0 0 10px #ffffff7a, 0 0 15px #ffffff7a,
      inset 0 0 20px #ff114d88, inset 0 0 15px #ff114d88, 0 0 20px #ff114d88,
      0 0 30px #ff114d88, 0 0 55px #ff114d88;
  }
}
@keyframes neonRedText {
  from {
    text-shadow: 0 0 10px #ffffff7a, 0 0 20px #ffffff7a, 0 0 30px #ffffff7a, 0 0 40px #ff114d88,
      0 0 70px #ff114d88, 0 0 80px #ff114d88, 0 0 100px #ff114d88, 0 0 150px #ff114d88;
  }
  to {
    text-shadow: 0 0 5px #ffffff7a, 0 0 10px #ffffff7a, 0 0 15px #ffffff7a, 0 0 20px #ff114d88,
      0 0 35px #ff114d88, 0 0 40px #ff114d88, 0 0 50px #ff114d88, 0 0 75px #ff114d88;
  }
}
:root {
  font-family: 'Text Me One';
  font-size: 18px;
  line-height: 2;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  /* animation: neonYellow 1s ease-in-out infinite alternate; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}
li {
  list-style-type: none;
}

#user-interface {
  margin: 0 auto;
  width: 1100px;
  height: 900px;
}
#start-page {
  width: 800px;
  height: 500px;
  background-image: url(../bgQuiz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: neonBlue 2s ease-in-out infinite alternate;
  transform: none;
}
.welcome-message {
  font-size: 2.3rem;
  font-family: 'Vampiro One';
  font-weight: 300;
  margin-bottom: 40px;
  animation: neon-text 0.5s ease-in-out infinite alternate;
}
#username-input {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid white;
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: bold;
  width: 200px;
  margin: 85px 20px;
  animation: neonYellow 2s ease-in-out infinite alternate;
}
#start-quiz-btn {
  margin: 75px 40px;
  
}

button {
  width: 130px;
  height: content-height;
  padding: 5px 0;
  border: none;
  background-color: #ff00dd7a;
  color: white;
  font-size: large;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  font-family: 'Vampiro One';
  font-weight: 300;
  transition: transform 0.3s;
  animation: neonPink 2s ease-in-out infinite alternate;
}
button:hover {
  transform: scale(1.1);
  background-color: #b40fa9;
}

#quiz-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#question-container {
  width: 90%;
  height: 450px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#stack-cards {
}
.teams-name {
  font-family: 'Vampiro One';
  margin: 0 150px 20px 0;
  letter-spacing: 2px;
  animation: neon-text 0.5s ease-in-out infinite alternate;
}

.quiz-status {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 30px;
}
.status {
  width: 130px;
  height: content-height;
  border: none;
  background-color: #ff00dd7a;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  animation: neonBlue 2s ease-in-out infinite alternate;
}

.title {
  font-size: 1.2rem;
  margin-top: 30px;
}
.card {
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 0 auto;
  width: 650px;
  border-radius: 5px;
  height: 320px;
  box-sizing: border-box;
  transition: 0.3s ease;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.35);
}
.card1 {
  padding: 0;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.75);
  animation: neonBlue 2s ease-in-out infinite alternate;
}
.card2,
.card4,
.card6,
.card8,
.card10 {
  background-color: #228dffc2;
}
.card3,
.card5,
.card7,
.card9 {
  background-color: #ff00ddaf;
}

.card-content {
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: white;
  visibility: hidden;
}
.active {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: ease-in-out 1s;
}



.answers-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
}
.answers-list li {
  margin: 10px 50px;
  padding: 5px 20px;
  border: 1px solid #ff9100;
  border-radius: 50px;
  font-size: .8rem;
}
.answers-list li:first-child {
  grid-column: 1;
  grid-row: 1;
}
.answers-list li:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.answers-list li:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}
.answers-list li:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

#references-container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Beon Medium';
  font-size: 0.8rem;
}
.reference {
  text-decoration: none;
  color: #c5740a;
  background-color: rgba(255, 255, 255, 0.664);
  height: fit-content;
  padding: 0 10px;
  border-radius: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.reference:hover {
  text-decoration: underline;
}
.correct-answer {
  animation: neonGreen 2s ease-in-out infinite alternate;
}
.learn {
  margin-bottom: 15px;
}

.wrong-answer {
  animation: neonRed 2s ease-in-out infinite alternate;
}


.progress-container {
  background-color: #ff10f0;
  height: 8px;
  width: 90%;
  margin-left: 10%;
  border-radius: 0 0 5px 5px;
}
#step {
  background-color: #770a70;
  height: 8px;
  width: 0%;
  border-radius: 0 0 0 5px;
}




#result-container {
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: neonBlue 2s ease-in-out infinite alternate;
  color: white;
  padding: 10px;
}

.congrats-message {
  font-family: Monoton;
  font-size: 7rem;
  color: #ff00de;
}

.score-message {
  font-family: Iceland;
  font-size: 5rem;
  color: #228dff;
}

.total-score {
  font-size: 7rem;
  animation: neonRedText 2s ease-in-out infinite alternate;
}


@media screen and (max-width: 620px) {
  body {
    height: 95vh;
  }
  .scrollable {
    height: auto;
    max-height: 90vh;
    overflow: auto;
  }
  #user-interface {
    background-size: contain;
    width: 80%;
    top: 5%;
    left: 10%;
    height: 85vh;
  }
  .welcome-message {
    top: 10%;
    left: 5%;
    padding: 0 10px;
  }
  input {
    width: 180px;
    top: 80%;
    left: 10%;
    font-size: medium;
  }
  .start-quiz {
    width: 90px;
    height: 90px;
    padding: 5px;
    top: 50%;
    margin-left: 20%;
    margin-top: 30%;
  }
  .start-quiz:hover {
    transform: scale(1.1);
  }

  #quiz-container {
    top: 15%;
  }
  .current-score {
    margin-left: 50px;
  }
  .current-timer {
    margin-left: 300px;
  }

  .teams-name {
    left: 30%;
  }

  .inner-container {
    min-width: 500px;
    left: -15%;
  }
  .card {
    width: 308px;
    height: 360px;
  }
  .card-content h1 {
    font-size: 1.5em;
  }
  .answers-list {
    margin-top: 10%;
    margin-left: -15%;
    grid-row-gap: 20px;
  }
  .answers-list li {
    margin: 2% 5%;
    padding: 10px;
  }
  .reference-container {
    margin-top: 30px;
    margin-left: -35px;
  }

  .progress-container {
    margin-top: 380px;
  }

  #next-question-button {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: 520px;
  }
}
