@font-face {
  font-family: 'Beon Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Beon Medium'), url('fonts/beon-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Beon Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Beon Medium'), url('fonts/Beon.woff') format('woff');
}
@font-face {
  font-family: 'Budmo Jiggler';
  font-style: normal;
  font-weight: normal;
  src: local('Budmo Jiggler'), url('fonts/budmo\ jiggler.woff') format('woff');
}
@font-face {
  font-family: 'Budmo Jigglish';
  font-style: normal;
  font-weight: normal;
  src: local('Budmo Jigglish'), url('fonts/budmo\ jigglish.woff') format('woff');
}
@font-face {
  font-family: 'Text Me One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/textmeone/v10/i7dOIFdlayuLUvgoFvHQFVZbYFc.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  font-family: 'Text Me One';
  font-size: 18px;
  line-height: 2;
}
* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
#user-interface {
  max-width: 1200px;
  max-height: 1000px;
  margin: 0 auto;
}
#quiz-container {
  width: 1100px;
  height: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* status bar */
#status-bar {
  width: 90%;
  height: 72px;
  display: flex;
  justify-content: space-around;
}
.circle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content:center;
  align-items: center;
}
#current-score{
  width: 90%;
  font-size: .8rem;
}
#countdown{
  width: 90%;
  font-size: .8rem;
}


#question-container {
  width: 900px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#references-container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
#next-question-button {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  
}

h1 {
  font-size: 1.5rem;
}
ol {
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 0.8rem;
}

.learn {
  font-size: 0.8rem;
}
/* .question {
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  width: 750px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
} */

.card {
  position: absolute;
  right: 8px;
  top: 8px;
  margin: 0 auto;
  width: 720px;
  border-radius: 5px;
  height: 320px;
  box-sizing: border-box;
  transition: .3s ease;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.35);
}
.card1 {
  border-radius: 5px 5px 0 0;
  padding: 0;
  box-shadow: none;
  background-color: rgba(0,0,0,0.75);
  animation: neon 2s ease-in-out infinite alternate;
}
.card2,.card4,.card6,.card8,.card10 {
  background-color: #1F51FF;
}
.card3,.card5,.card7,.card9 {
  background-color: #FF10F0;
}

.card-content {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: white;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.active {
  display: block;
  margin: 0 auto;
  opacity: 1;
  visibility: visible;
}

@keyframes neon {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, 0 0 30px #fff, inset 0 0 40px #228dff,
inset 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, 0 0 15px #fff, inset 0 0 20px #228dff,
inset 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

.active > .card-content {
  opacity: 1;
  transition: ease-in-out 1s;
}

/* .current-reference {
  text-decoration: none;
  color: #ff9100;
  background-color: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: medium;
  font-weight: 900;
} */

.progress-container {
  background-color: #FF10F0;
  height: 8px;
  position: relative;
  margin-top: 320px;
  left: 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
}
#step {
  background-color: #770a70;
  height: 8px;
  width: 0%;
  border-radius: 0 0 0 5px;
}

/* button {
  position: fixed;
  width: 120px;
  height: 120px;
  border: none;
  margin-left: 360px;
  margin-top: 155px;
  background-color: #FF10F0;
  color: white;
  font-size: large;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: transform .3s;
}

button:hover {
  transform: scale(1.2);
  background-color: #b40fa9;
}

.quiz-status span {
  padding: .7em 1em;
  background-color: #1F51FF;
  border-radius: 50%;
}
.current-score {
  padding: .7em 1em;
  background-color: #00898b;
  border-radius: 50%;
  margin-left: -850px;
  color: white;
  font-weight: bolder;
}

.timer {
  display: flex;
  justify-content: space-between;
  width: 132px;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.3rem;
  color:#faf600;
  background-color: #b40fa9;;
  box-shadow: 0 3px 10px 4px rgba(255, 238, 2, 0.35);
} */
